*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.section1{
    /* border: 2px solid; */
    width: 100%;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 100;
    /* height: 23vh; */
}
 .nav1{ 
    /* border: 2px solid; */
     display: flex;
    /* justify-content: space-around; */ 
    /* height: 24px; */
    /* align-items: center;*/ 
} 
.logo{
    /* border: 2px solid deeppink; */
    width: 25vw;
    display: flex;
    justify-content: center;
} 
.menu{
    /* border: 2px solid darkmagenta; */
    width: 60vw;
    display: flex;
    align-items: center;
} 
.searchbar{
    /* border: 2px solid greenyellow; */
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    cursor: pointer;
}
.ul2{
    display: flex;
    gap: 5%;
}
.home{
    color: green;
    list-style: none;
    cursor: pointer;
}
.li1{
    list-style: none;
    cursor: pointer;
} 
.section2{
    /* border: 2px solid; */
    height: 107vh;
    background-image: url(./images/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 12%;
    width: 100%;
    background-position: center;
}
.section3{
    /* border: 2px solid; */
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(240, 239, 239);
    /* height: 25vh;    */
}
.container1,.container2,.container3,.container4{
    cursor: pointer;
}
/* .container1{
    border: 2px solid;
} */
/* .container2{
    border: 2px solid greenyellow;
}
.container3{
    border: 2px solid greenyellow;
}
.container4{
    border: 2px solid red;
} */
.section4{
    /* border: 2px solid deeppink; */
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
}
.container-1{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2{
    /* border: 2px solid darkorange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 40vw;
}
.btn1{
    margin-top: 10%;
    border-color: #2A5547;
    color: #2A5547;
}
.section5{
     /* border: 2px solid darkred; */ 
    /* height: 150vh; */ 
    display: grid;
    grid-template-columns: repeat(4,20vw); 
    justify-content: center; 
    gap: 2%;
    padding-top: 1%;
    overflow: hidden; 
    row-gap: 5%;
 } 
.container--1{
     /* border: 2px solid yellowgreen; */
      border-radius: 5px;
       background-color:  rgb(240, 239, 239);
        height: 68vh;
         width: 20vw;
 } 
.container--1:hover{
     transform: scale(1.04); 
     cursor: pointer;
    }
 .container--1>img,h2,p,button{ 
    margin-left: 5px;
 } 
 .img1{ 
    max-width:100%;
     height: auto; 
}
.header{
    border: 2px solid green;
    height: 2px;
}
.section6{
    /* border: 2px solid red; */
    height: 45vh;
    background-image: url(./images/bg-img.avif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    width: 100%;
    
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section7{
    /* border: 2px solid; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,20vw);
    /* display: flex; */
    justify-content: center;
    gap: 2%;
    padding-top: 2%;
    overflow: visible;
}
.div-1{
    /* border: 2px solid goldenrod; */
    width: 20vw;
    height: auto;
    border-radius: 5px;
     background-color:  rgb(240, 239, 239);
}
.div-1:hover{
transform: scale(1.04);
cursor: pointer;
}
.section8{
    /* border: 2px solid green; */
    min-height: 70vh;
    height: auto;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.sec8{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
}
.section8 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section9{
    /* border: 2px solid red; */
    min-height: 70vh;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(240, 239, 239);
}
.touch1{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}
.touch2{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
.section10{
    /* border: 2px solid greenyellow; */
    height: 50vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.divlast{
/* border: 2px solid red; */
height: 53vh;
width: 25vw;
border-radius: 5px;
background-color:  rgb(240, 239, 239);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.divlast:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.circle{
    /* border: 2px solid; */
    width: 30%;
    height: 30%;
    border-radius: 50%;
    overflow: hidden;
}
.circle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.review{
   width: 100%;
   height: 100%;
}
.section11{
    /* border: 2px solid purple; */
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:   rgb(240, 239, 239);
    text-align: center;
}
.footerdiv{
    /* border: 2px solid; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: block; */
}
hr{
    width: 100%;
    /* flex-basis: 100%; */
}
@media (max-width: 768px) {
    .nav1{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .logo, .menu, .searchbar{
        width: 100%;
        justify-content: center;
    }

    .ul2{
        gap: 15px;
    }
   .section2{
        height: auto;
        padding: 30% 5%;
        text-align: center;
    }
   .section3{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 15px;
    }
   .section4{
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    
    .container-2{
        width: 100%;
        align-items: center;
    }
    .section5{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    
    .container--1{
        width: 90vw;
        height: auto;
        margin: auto;
    }
    .section6{
        height: 40vh;
    }
    .section7{
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px;
    }
    .div-1{
        width: 90vw;
        height: auto;
        margin: auto;
    }
     .section8{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }
    .section9{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }
    .touch1{
        width: 100%;
    }
    .section10{
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px;
    }
    .divlast{
        width: 90vw;
        height: auto;
        padding: 20px;
    }
    .section11{
        padding: 20px;
        height: auto;
    }
     .footerdiv{
        width: 100%;
    }
}